name: CI Check coverage
on:
  pull_request: {}

permissions:
  # To be able to access the repository with actions/checkout
  contents: read
  pull-requests: read

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.event.after }}
  cancel-in-progress: true

jobs:
  coverage:
    timeout-minutes: 460
    name: Check coverage for pull request #${{ github.event.pull_request.number }}
    runs-on: ubuntu-22.04
    steps:
      # - name: Clear Workspace
      #   shell: bash
      #   run: |
      #     sudo rm -r /usr/local/.ghcup
      #     sudo rm -r /usr/local/lib/android
      #     sudo rm -r /opt/hostedtoolcache
      # - name: Check disk space
      #   shell: bash
      #   run: |
      #     df . -h
      #     go version
      - name: Check out the repository to the runner
        uses: actions/checkout@v4
      - name: Setup gcloud credentials
        uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{ secrets.CI_CILIUM_PROXY_SA_KEY }}
      - name: Install deps (for C++)
        shell: bash
        run: |
          sudo apt-get update && \
          sudo apt-get upgrade -y --no-install-recommends && \
          sudo apt-get install -y --no-install-recommends \
          ca-certificates libc6-dev autoconf automake cmake coreutils curl git libtool make ninja-build patch patchelf \
          python3 python-is-python3 unzip virtualenv wget zip software-properties-common golang && \
          wget -qO- https://apt.llvm.org/llvm-snapshot.gpg.key | sudo tee /etc/apt/trusted.gpg.d/apt.llvm.org.asc && \
          sudo apt-add-repository -y "deb http://apt.llvm.org/jammy/ llvm-toolchain-jammy-18 main" && \
          sudo apt-get update && \
          sudo apt-get install -y --no-install-recommends \
            clang-18 clangd-18 clang-tidy-18 clang-tools-18 llvm-18-dev lldb-18 lld-18 clang-format-18 libc++-18-dev libc++abi-18-dev && \
          sudo apt-get purge --auto-remove && \
          sudo apt-get clean && \
          sudo rm -rf /var/lib/apt/lists/* /tmp/* /var/tmp/*
          cp /usr/lib/llvm-18/bin/llvm-cov /usr/local/bin
          cp /usr/lib/llvm-18/bin/llvm-profdata /usr/local/bin
          #libclang_rt.profile is not installed from deb repo, doing this hack for now...
          sudo mkdir -p /usr/lib/llvm-18/lib/clang/18/lib/linux/
          sudo cp /usr/lib/llvm-15/lib/clang/15.0.7/lib/linux/libclang_rt.profile-x86_64.a /usr/lib/llvm-18/lib/clang/18/lib/linux/
      - name: Sync crate lockfile with bazel
        shell: bash
        run: |
          CARGO_BAZEL_ISOLATED=0 CARGO_BAZEL_REPIN=1 bazel sync --only=crate_index
      - name: Build proxylib
        shell: bash
        run: |
          go clean -cache
          make -C proxylib
      - name: Build test deps
        shell: bash
        run: |
          BAZEL_BUILD_OPTS="${BAZEL_BUILD_OPTS} --remote_cache=https://storage.googleapis.com/cilium-proxy-bazel-remote-cache --google_default_credentials" BAZEL_TEST_OPTS="--test_timeout=300 --local_test_jobs=1 --flaky_test_attempts=3" make envoy-test-deps
      - name: Generate coverage data
        shell: bash
        run: |
          echo "Generating bazel coverage: "
          ./tests/run_bazel_coverage.sh

     #TODO(nezdolik)
      # - name: Display coverage data



